<!-- Шаблон страницы -->
{% extends 'base.html' %} 
 
<!-- Шапка сайта -->
{% block header %}
{{ super() }}
<div class='header'>
По мотивам соревнования MAIL RU AI CUP.
<p>Эта ML модель умеет классифицировать комментарии на следующие классы:</p>

<ul>
	<li>Оскорбление</li>
	<li>Угроза</li>
	<li>Непристойность</li>
	<li>Другое</li>
</ul>

<p>Для проверки комментария достаточно ввести его в поле и нажать кнопку &quot;Отправить&quot;. Подробнее о модели, метриках и исходных данных можно почитать в следующих вкладках.</p>
</div>
{% endblock %}








<!-- Вкладка 1 -->
{% block tab1 %}
{{ super() }}
<center>
    <div class="container">
        <p>Введите ваш комментарий</p>
        <form method="post">
            <input type='text' name='comment' placeholder="Введите комментарий">
            <input type='submit' class='btn'>
        </form>
        <p>Этот комментарий относится к классу - {{ClassName}}</p>
    </div>
</center>
{% endblock %}











<!-- Вкладка 2 -->
{% block tab2 %}
{{ super() }}

<p><strong>Содержимое главной страницы 2</strong></p>

<p>В социальной сети &quot;Одноклассники&quot; пользователи ежедневно публикуют огромное количество комментариев разного направления и характера. Для повышения качества контента создатели сети запустили платформу &quot;Робби&quot; на базе нейросетей. На основе анализа контента был сгенерирован набор данных, содержащий комментарии пользователей социальной сети.</p>

<p>Эта ML модель умеет классифицировать комментарии на следующие классы:</p>

<ul>
	<li>Оскорбление</li>
	<li>Угроза</li>
	<li>Непристойность</li>
	<li>Другое</li>
</ul>

<p>Для проверки комментария достаточно ввести его в поле и нажать кнопку &quot;Отправить&quot;. Подробнее о модели, метриках и исходных данных можно почитать в следующих вкладках.</p>
{% endblock %}










<!-- Вкладка 3 -->
{% block tab3 %}
{{ super() }}

Содержимое главной страницы 3 
<p>Введите ваш комментарий</p>
<input type='text' name='comment' placeholder="Введите комментарий">
<input type='submit' class='btn'>
<p>Этот комментарий относится к классу - Оскобление (INSULT)</p>
<p>Введите ваш комментарий</p>
<input type='text' name='comment' placeholder="Введите комментарий">
<input type='submit' class='btn'>
<p>Этот комментарий относится к классу - Оскобление (INSULT)</p>
{% endblock %}











<!-- Вкладка 4 -->
{% block tab4 %}
{{ super() }}

Содержимое главной страницы 4
<ul>
<li>GitHub</li>
<li>Telegram</li>
<li>E-mail</li>
</ul>
{% endblock %}

